[Desktop Entry]
Name=Document Viewer
Name[de]=Dokumentenbetrachter
Name[fr]=Visionneur de documents
Comment=Evince
TryExec=evince
Exec=evince %U
StartupNotify=true
Terminal=false
Type=Application
Icon=evince
Categories=GNOME;GTK;Office;Graphics;VectorGraphics;Viewer;
MimeType=application/pdf;application/x-bzpdf;application/x-gzpdf;application/postscript;application/x-bzpostscript;application/x-gzpostscript;image/x-eps;image/x-bzeps;image/x-gzeps;application/x-dvi;application/x-bzdvi;application/x-gzdvi;image/tiff;application/x-cbr;application/x-cbz;application/x-cb7;
X-Desktop-File-Install-Version=0.15
