[Desktop Entry]
Name=Presentation
Name[de]=Präsentationssoftware
Name[fr]=Logiciel de présentation
Comment=Libre Office Impress
Version=1.0
Terminal=false
#Icon=libreoffice-impress
Icon=ooo-impress
Type=Application
Categories=Office;Presentation;X-Red-Hat-Base;X-MandrivaLinux-Office-Presentations;
Exec=libreoffice --impress %U
MimeType=application/vnd.oasis.opendocument.presentation;application/vnd.oasis.opendocument.presentation-template;application/vnd.sun.xml.impress;application/vnd.sun.xml.impress.template;application/mspowerpoint;application/vnd.ms-powerpoint;application/vnd.openxmlformats-officedocument.presentationml.presentation;application/vnd.ms-powerpoint.presentation.macroenabled.12;application/vnd.openxmlformats-officedocument.presentationml.template;application/vnd.ms-powerpoint.template.macroenabled.12;application/vnd.openxmlformats-officedocument.presentationml.slide;application/vnd.openxmlformats-officedocument.presentationml.slideshow;application/vnd.ms-powerpoint.slideshow.macroEnabled.12;
Keywords=Slideshow;Slides;OpenDocument Presentation;Microsoft PowerPoint;Microsoft Works;OpenOffice Impress;odp;ppt;pptx;
InitialPreference=5
X-Ayatana-Desktop-Shortcuts=X-New
[X-New Shortcut Group]
Name=New Presentation
Name[tr]=Yeni Sunum
Name[da]=Ny præsentation
Name[ru]=Создать презентацию
Name[gl]=Presentación
Name[nb]=Ny presentasjon
Name[ro]=Prezentare nouă
Name[nso]=New Presentation
Name[tn]=New Presentation
Name[ta]=புதிய விளக்கக்காட்சி
Name[nr]=New Presentation
Name[ts]=New Presentation
Name[ml]=പുതിയ പ്രസന്റേഷന്‍
Name[cy]=Cyflwyniad Newydd
Name[zh_CN]=新建演示文稿
Name[st]=New Presentation
Name[ko]=새 프레젠테이션
Name[cs]=Nová prezentace
Name[af]=New Presentation
Name[pa_IN]=ਨਵਾ ਸਲਾਈਡ-ਸ਼ੋ
Name[ga]=Láithreoireacht Nua
Name[ms]=New Presentation
Name[eu]=New Presentation
Name[bg]=Нова презентация
Name[gu]=નવી રજૂઆત
Name[sv]=Ny presentation
Name[it]=Nuova presentazione
Name[hu]=Új bemutató
Name[pl]=Nowa prezentacja
Name[ca]=Presentació nova
Name[zh_TW]=新增簡報
Name[sk]=Nová prezentácia
Name[ve]=New Presentation
Name[hi]=नई प्रस्तुति
Name[pt]=Nova apresentação
Name[uk]=New Presentation
Name[es]=Presentación nueva
Name[fr]=Nouvelle présentation
Name[or]=ନୂଆ ଉପସ୍ଥାପନା
Name[ss]=New Presentation
Name[sh]=Nova prezentacija
Name[xh]=New Presentation
Name[sr]=Нова презентација
Name[th]=New Presentation
Name[et]=Uus esitlus
Name[en]=New Presentation
Name[fi]=Uusi esitys
Name[lt]=Nauja pateiktis
Name[de]=Neue Präsentation
Name[hr]=Nova prezentacija
Name[mai]=New Presentation
Name[zu]=New Presentation
Name[ur]=New Presentation
Name[sl]=Nova predstavitev
Name[nn]=Ny presentasjon
Name[ja]=新規のプレゼンテーション
Name[bn]=New Presentation
Name[mr]=नवीन सादरीकरण
Name[dz]=New Presentation
Name[kn]=ಹೊಸ ಪ್ರೆಸೆಂಟೇಶನ್
Name[he]=מצגת חדשה
Name[te]=కొత్త ప్రజంటేషన్ 
Name[ar]=عرض تقديمي جديد
Name[nl]=Nieuwe presentatie
Name[as]=নতুন পৰিৱেশন
Name[el]=Νέα παρουσίαση
Name[pt_BR]=Nova apresentação
Exec=libreoffice --impress %U
TargetEnvironment=Unity
X-GIO-NoFuse=true
StartupNotify=true
TryExec=ooimpress
