[Desktop Entry]
Name=Drawing Program
Name[de]=Zeichenprogramm
Name[fr]=Logiciel de dessin
Comment=Libre Office Draw
Version=1.0
Terminal=false
#Icon=libreoffice-draw
Icon=ooo-draw
Type=Application
Categories=Office;FlowChart;Graphics;2DGraphics;VectorGraphics;X-Red-Hat-Base;X-MandrivaLinux-Office-Drawing;
Exec=libreoffice --draw %U
MimeType=application/vnd.oasis.opendocument.graphics;application/vnd.oasis.opendocument.graphics-template;application/vnd.sun.xml.draw;application/vnd.sun.xml.draw.template;application/vnd.visio;application/x-wpg;application/vnd.corel-draw;application/vnd.ms-publisher;
Keywords=Vector;Schema;Diagram;Layout;OpenDocument Graphics;Microsoft Publisher;Corel Draw;cdr;odg;svg;
InitialPreference=5
X-Ayatana-Desktop-Shortcuts=X-New
[X-New Shortcut Group]
Name=New Drawing
Name[tr]=Yeni Çizim
Name[da]=Ny tegning
Name[ru]=Создать рисунок
Name[gl]=Novo debuxo
Name[nb]=Ny tegning
Name[ro]=Desen nou
Name[nso]=New Drawing
Name[tn]=New Drawing
Name[ta]=புதிய வரைபடம்
Name[nr]=New Drawing
Name[ts]=New Drawing
Name[ml]=പുതിയ ഡ്രോയിങ്
Name[cy]=Lluniad Newydd
Name[zh_CN]=新建绘图
Name[st]=New Drawing
Name[ko]=새 드로잉
Name[cs]=Nová kresba
Name[af]=New Drawing
Name[pa_IN]=ਨਵੀ ਡਰਾਇੰਗ 
Name[ga]=Líníocht Nua
Name[ms]=New Drawing
Name[eu]=New Drawing
Name[bg]=Нова рисунка
Name[gu]=નવુ ચિત્રકામ
Name[sv]=Ny teckning
Name[it]=Nuovo disegno
Name[hu]=Új rajz
Name[pl]=Nowy Rysunek
Name[ca]=Dibuix nou
Name[zh_TW]=新增繪圖
Name[sk]=Nová kresba
Name[ve]=New Drawing
Name[hi]=नया रेखाचित्र
Name[pt]=Novo desenho
Name[uk]=New Drawing
Name[es]=Dibujo nuevo
Name[fr]=Nouveau dessin
Name[or]=ନୂଆ ଚିତ୍ର
Name[ss]=New Drawing
Name[sh]=Novi crtež
Name[xh]=New Drawing
Name[sr]=Нови цртеж
Name[th]=New Drawing
Name[et]=Uus joonistus
Name[en]=New Drawing
Name[fi]=Uusi piirros
Name[lt]=Naujas grafikos dokumentas
Name[de]=Neue Zeichnung
Name[hr]=Novi crtež
Name[mai]=New Drawing
Name[zu]=New Drawing
Name[ur]=New Drawing
Name[sl]=Nova risba
Name[nn]=Ny teikning
Name[ja]=新規の図形描画
Name[bn]=New Drawing
Name[mr]=नवीन रेखाचित्र
Name[dz]=New Drawing
Name[kn]=ಹೊಸ ಚಿತ್ರರಚನೆ
Name[he]=ציור חדש
Name[te]=కొత్త చిత్రలేఖనము
Name[ar]=رسم جديد
Name[nl]=Nieuwe tekening
Name[as]=নতুন অঙ্কণ
Name[el]=Νέο σχέδιο
Name[pt_BR]=Novo desenho
Exec=libreoffice --draw %U
TargetEnvironment=Unity
X-GIO-NoFuse=true
StartupNotify=true
TryExec=oodraw
