[Desktop Entry]
Name=Formula Editor
Name[de]=Formeleditor
Name[fr]=Éditeur de formules
Comment=Libre Office Math
Version=1.0
Terminal=false
#Icon=libreoffice-math
Icon=applications-mathematics
Type=Application
Categories=Office;Education;Science;Math;X-Red-Hat-Base;X-MandrivaLinux-Office-Other;
Exec=libreoffice --math %U
MimeType=application/vnd.oasis.opendocument.formula;application/vnd.sun.xml.math;application/vnd.oasis.opendocument.formula-template;text/mathml;
Keywords=Equation;OpenDocument Formula;Formula;odf;
InitialPreference=5
X-Ayatana-Desktop-Shortcuts=X-New
[X-New Shortcut Group]
Name=New Formula
Name[tr]=Yeni Formül
Name[da]=Ny formel
Name[ru]=Создать формулу
Name[gl]=Nova fórmula
Name[nb]=Ny formel
Name[ro]=Formulă nouă
Name[nso]=New Formula
Name[tn]=New Formula
Name[ta]=புதிய சூத்திரம்
Name[nr]=New Formula
Name[ts]=New Formula
Name[ml]=പുതിയ ഫോര്‍മുലാ
Name[cy]=Fformiwla Newydd
Name[zh_CN]=新建公式
Name[st]=New Formula
Name[ko]=새 수식
Name[cs]=Nový vzorec
Name[af]=New Formula
Name[pa_IN]=ਨਵਾ ਫਾਰਮੁੱਲਾ
Name[ga]=Foirmle Nua
Name[ms]=New Formula
Name[eu]=New Formula
Name[bg]=Нова формула
Name[gu]=નવુ સૂત્ર
Name[sv]=Nytt formelblad
Name[it]=Nuova formula
Name[hu]=Új képlet
Name[pl]=Nowa formuła
Name[ca]=Fórmula nova
Name[zh_TW]=新增公式
Name[sk]=Nový vzorec
Name[ve]=New Formula
Name[hi]=नया सूत्र
Name[pt]=Nova fórmula
Name[uk]=New Formula
Name[es]=Fórmula nueva
Name[fr]=Nouvelle formule
Name[or]=ନୂଆ ସୂତ୍ର
Name[ss]=New Formula
Name[sh]=Nova formula
Name[xh]=New Formula
Name[sr]=Нова формула
Name[th]=New Formula
Name[et]=Uus valem
Name[en]=New Formula
Name[fi]=Uusi kaava
Name[lt]=Naujas formulių dokumentas
Name[de]=Neue Formel
Name[hr]=Nova formula
Name[mai]=New Formula
Name[zu]=New Formula
Name[ur]=New Formula
Name[sl]=Nova formula
Name[nn]=Ny formel
Name[ja]=新規の数式
Name[bn]=New Formula
Name[mr]=नवीन सूत्र
Name[dz]=New Formula
Name[kn]=ಹೊಸ ಸೂತ್ರ
Name[he]=נוסחה חדשה
Name[te]=కొత్త సూత్రం
Name[ar]=معادلة جديدة
Name[nl]=Nieuwe formule
Name[as]=নতুন সুত্ৰ
Name[el]=Νέος τύπος
Name[pt_BR]=Nova fórmula
Exec=libreoffice --math %U
TargetEnvironment=Unity
X-GIO-NoFuse=true
StartupNotify=true
TryExec=oomath
