[Desktop Entry]
Name=Spreadsheet
Name[de]=Tabellenkalkulation
Name[fr]=Tableur
Comment=Libre Office Calc
Version=1.0
Terminal=false
#Icon=libreoffice-calc
Icon=ooo-calc
Type=Application
Categories=Office;Spreadsheet;X-Red-Hat-Base;X-MandrivaLinux-Office-Spreadsheets;
Exec=libreoffice --calc %U
MimeType=application/vnd.oasis.opendocument.spreadsheet;application/vnd.oasis.opendocument.spreadsheet-template;application/vnd.sun.xml.calc;application/vnd.sun.xml.calc.template;application/msexcel;application/vnd.ms-excel;application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;application/vnd.ms-excel.sheet.macroenabled.12;application/vnd.openxmlformats-officedocument.spreadsheetml.template;application/vnd.ms-excel.template.macroenabled.12;application/vnd.ms-excel.sheet.binary.macroenabled.12;text/csv;application/x-dbf;text/spreadsheet;application/csv;application/excel;application/tab-separated-values;application/vnd.lotus-1-2-3;application/vnd.oasis.opendocument.chart;application/vnd.oasis.opendocument.chart-template;application/x-dbase;application/x-dos_ms_excel;application/x-excel;application/x-msexcel;application/x-ms-excel;application/x-quattropro;application/x-123;text/comma-separated-values;text/tab-separated-values;text/x-comma-separated-values;text/x-csv;
Keywords=Accounting;Stats;OpenDocument Spreadsheet;Chart;Microsoft Excel;Microsoft Works;OpenOffice Calc;ods;xls;xlsx;
InitialPreference=5
X-Ayatana-Desktop-Shortcuts=X-New
[X-New Shortcut Group]
Name=New Spreadsheet
Name[tr]=Yeni Çalışma Sayfası
Name[da]=Nyt regneark
Name[ru]=Создать эл.таблицу
Name[gl]=Nova folla de cálculo
Name[nb]=Nytt regneark
Name[ro]=Foaie de calcul nouă
Name[nso]=New Spreadsheet
Name[tn]=New Spreadsheet
Name[ta]=புதிய விரிதாள்
Name[nr]=New Spreadsheet
Name[ts]=New Spreadsheet
Name[ml]=പുതിയ സ്പ്രെഡ്ഷീറ്റ്
Name[cy]=Taenlen Newydd
Name[zh_CN]=新建电子表格
Name[st]=New Spreadsheet
Name[ko]=새 스프레드시트
Name[cs]=Nový sešit
Name[af]=New Spreadsheet
Name[pa_IN]=ਨਵੀ ਸਪ੍ਰੈਡਸੀਟ
Name[ga]=Scarbhileog Nua
Name[ms]=New Spreadsheet
Name[eu]=New Spreadsheet
Name[bg]=Нова електронна таблица
Name[gu]=નવી સ્પ્રેડશીટ
Name[sv]=Nytt kalkylblad
Name[it]=Nuovo foglio elettronico
Name[hu]=Új munkafüzet
Name[pl]=Nowy arkusz kalkulacyjny
Name[ca]=Full de càlcul nou
Name[zh_TW]=新增試算表
Name[sk]=Nový tabuľkový dokument
Name[ve]=New Spreadsheet
Name[hi]=नया स्प्रेडशीट
Name[pt]=Nova folha de cálculo
Name[uk]=New Spreadsheet
Name[es]=Hoja de cálculo nueva
Name[fr]=Nouveau classeur
Name[or]=ନୂତନ ସ୍ପ୍ରେଡସିଟ
Name[ss]=New Spreadsheet
Name[sh]=Nova tablica
Name[xh]=New Spreadsheet
Name[sr]=Нова таблица
Name[th]=New Spreadsheet
Name[et]=Uus arvutustabel
Name[en]=New Spreadsheet
Name[fi]=Uusi laskentataulukko
Name[lt]=Naujas skaičiuoklės dokumentas
Name[de]=Neues Tabellendokument
Name[hr]=Nova proračunska tablica
Name[mai]=New Spreadsheet
Name[zu]=New Spreadsheet
Name[ur]=New Spreadsheet
Name[sl]=Nova preglednica
Name[nn]=Nytt rekneark
Name[ja]=新規の表計算文書
Name[bn]=New Spreadsheet
Name[mr]=नवीन स्प्रेडशीट
Name[dz]=New Spreadsheet
Name[kn]=ಹೊಸ ಸ್ಪ್ರೆಡ್‌ಶೀಟ್
Name[he]=גיליון אלקטרוני חדש
Name[te]=కొత్త స్ప్రెడ్ షీట్
Name[ar]=جدول بيانات جديد
Name[nl]=Nieuw werkblad
Name[as]=নতুন স্প্ৰেডশ্বিট
Name[el]=Νέο υπολογιστικό φύλλο
Name[pt_BR]=Nova planilha
Exec=libreoffice --calc %U
TargetEnvironment=Unity
X-GIO-NoFuse=true
StartupNotify=true
TryExec=oocalc
