[Desktop Entry]
Name=Database
Name[de]=Datenbanken
Name[fr]=Bases de données
Comment=Libre Office Base
Version=1.0
Terminal=false
#Icon=libreoffice-base
Icon=ooo-base
Type=Application
Categories=Office;Database;X-Red-Hat-Base;X-MandrivaLinux-MoreApplications-Databases;
Exec=libreoffice --base %U
MimeType=application/vnd.oasis.opendocument.database;application/vnd.sun.xml.base;
Keywords=Data;SQL;
InitialPreference=5
X-Ayatana-Desktop-Shortcuts=X-New
[X-New Shortcut Group]
Name=New Database
Name[tr]=Yeni Veritabanı
Name[da]=Ny database
Name[ru]=Создать базу данных
Name[gl]=Nova base de datos
Name[nb]=Ny database
Name[ro]=Baze de date nouă
Name[nso]=Datapeisi e Mpsha
Name[tn]=New Database
Name[ta]=புதிய தரவுத்தளம்
Name[nr]=Iziko ledatha elitjha
Name[ts]=Vuhlayisela-rungula lebyintshwa
Name[ml]=പുതിയ ഡേറ്റാബെയിസ്
Name[cy]=Cronfa Ddata Newydd
Name[zh_CN]=新建数据库
Name[st]=Datapeisi e Ntjha
Name[ko]=새 데이터베이스
Name[cs]=Nová databáze
Name[af]=Nuwe databasis
Name[pa_IN]=ਨਵਾ ਡਾਟਾਬੈਸ
Name[ga]=Bunachar Sonraí Nua
Name[ms]=New Database
Name[eu]=Datu-base berria
Name[bg]=Нова база от данни
Name[gu]=નવો ડેટાબેઝ
Name[sv]=Ny databas
Name[it]=Nuovo database
Name[hu]=Új adatbázis
Name[pl]=Nowa baza danych
Name[ca]=Base de dades nova
Name[zh_TW]=新增資料庫
Name[sk]=Nová databáza
Name[ve]=Database Ntswa
Name[hi]=नया डेटाबेस
Name[pt]=Nova base de dados
Name[uk]=Нова база даних
Name[es]=Base de datos nueva
Name[fr]=Nouvelle base de données
Name[or]=ନୂଆ ତଥ୍ଯାଧାର
Name[ss]=Idathabhesi lensha
Name[sh]=Nova baza podataka
Name[xh]=Isiseko Seenkcukacha Ezintsha
Name[sr]=Нова база података
Name[th]=ฐานข้อมูลใหม่
Name[et]=Uus andmebaas
Name[en]=New Database
Name[fi]=Uusi tietokanta
Name[lt]=Nauja duomenų bazė
Name[de]=Neue Datenbank
Name[hr]=Nova baza podataka
Name[mai]=नवीन डाटाबेस
Name[zu]=Idatabheysi Entsha
Name[ur]=New Database
Name[sl]=Nova zbirka podatkov
Name[nn]=Ny database
Name[ja]=新規のデータベース
Name[bn]=নতুন ডাটাবেস
Name[mr]=नवीन डाटाबेस
Name[dz]=གནད་སྡུད་གཞི་རྟེན་གསརཔ།
Name[kn]=ಹೊಸ ದತ್ತಸಂಚಯ
Name[he]=מסד נתונים חדש
Name[te]=కొత్తడాటాబేస్
Name[ar]=قاعدة بيانات جديدة
Name[nl]=Nieuwe database
Name[as]=নতুন ডাটাবেইচ
Name[el]=Νέα βάση δεδομένων
Name[pt_BR]=Novo banco de dados
Exec=libreoffice --base %U
TargetEnvironment=Unity
X-GIO-NoFuse=true
StartupNotify=true
TryExec=oobase
