[Desktop Entry]
Name=Word Processor
Name[de]=Textverarbeitung
Name[fr]=Traitement de texte
Comment=Libre Office Writer
Version=1.0
Terminal=false
#Icon=libreoffice-writer
Icon=ooo-writer
Type=Application
Categories=Office;WordProcessor;X-Red-Hat-Base;X-MandrivaLinux-Office-Wordprocessors;
Exec=libreoffice --writer %U
MimeType=application/vnd.oasis.opendocument.text;application/vnd.oasis.opendocument.text-template;application/vnd.oasis.opendocument.text-web;application/vnd.oasis.opendocument.text-master;application/vnd.sun.xml.writer;application/vnd.sun.xml.writer.template;application/vnd.sun.xml.writer.global;application/msword;application/vnd.ms-word;application/x-doc;application/x-hwp;application/rtf;text/rtf;application/vnd.wordperfect;application/wordperfect;application/vnd.lotus-wordpro;application/vnd.openxmlformats-officedocument.wordprocessingml.document;application/vnd.ms-word.document.macroenabled.12;application/vnd.openxmlformats-officedocument.wordprocessingml.template;application/vnd.ms-word.template.macroenabled.12;application/vnd.ms-works;application/vnd.stardivision.writer-global;application/x-extension-txt;application/x-t602;text/plain;
Keywords=Text;Letter;Fax;Document;OpenDocument Text;Microsoft Word;Microsoft Works;Lotus WordPro;OpenOffice Writer;CV;odt;doc;docx;rtf;
InitialPreference=5
X-Ayatana-Desktop-Shortcuts=X-New
[X-New Shortcut Group]
Name=New Document
Name[tr]=Yeni Belge
Name[da]=Nyt dokument
Name[ru]=Создать документ
Name[gl]=Novo documento
Name[nb]=Nytt dokument
Name[ro]=Document nou
Name[nso]=Tokumente e mpsha
Name[tn]=New Document
Name[ta]=புதிய ஆவணம்
Name[nr]=Umtlolo Omutjha
Name[ts]=Dokumente yintshwa
Name[ml]=പുതിയ രേഖ
Name[cy]=Dogfen Newydd
Name[zh_CN]=新建文档
Name[st]=New Document
Name[ko]=새 문서
Name[cs]=Nový dokument
Name[af]=Nuwe dokument
Name[pa_IN]=ਨਵਾ ਦਸਤਾਵੇਜ
Name[ga]=Cáipéis Nua
Name[ms]=New Document
Name[eu]=Dokumentu berria
Name[bg]=Нов документ
Name[gu]=નવું દસ્તાવેજ
Name[sv]=Nytt dokument
Name[it]=Nuovo documento
Name[hu]=Új dokumentum
Name[pl]=Nowy dokument
Name[ca]=Document nou
Name[zh_TW]=新增文件
Name[sk]=Nový dokument
Name[ve]=Ḽiṅwalwa Ḽiswa
Name[hi]=नया दस्तावेज़
Name[pt]=Novo documento
Name[uk]=New Document
Name[es]=Documento nuevo
Name[fr]=Nouveau document
Name[or]=ନୂଆ ଦଲିଲ
Name[ss]=Idokhumenti lensha
Name[sh]=Novi dokument
Name[xh]=Uxwebhu Olutsha
Name[sr]=Нови документ
Name[th]=New Document
Name[et]=Uus dokument
Name[en]=New Document
Name[fi]=Uusi asiakirja
Name[lt]=Naujas dokumentas
Name[de]=Neues Dokument
Name[hr]=Novi dokument
Name[mai]=नवीन दस्तावेज
Name[zu]=Ushicilelo olusha
Name[ur]=نئی کتاب
Name[sl]=Nov dokument
Name[nn]=Nytt dokument
Name[ja]=新規の文書ドキュメント
Name[bn]=নতুন নথি
Name[mr]=नवीन दस्तऐवज
Name[dz]=ཡིག་ཆ་གསརཔ།
Name[kn]=ಹೊಸ ದಸ್ತಾವೇಜು
Name[he]=מסמך חדש
Name[te]=కొత్త పత్రం
Name[ar]=مستند جديد
Name[nl]=Nieuw document
Name[as]=নতুন দস্তাবেজ
Name[el]=Νέο έγγραφο
Name[pt_BR]=Novo documento
Exec=libreoffice --writer %U
TargetEnvironment=Unity
X-GIO-NoFuse=true
StartupNotify=true
TryExec=oowriter
